.vscode
build
tags
.editorconfig
.vs/
PID-Control.vcxproj.user
PID-Control.vcxproj
PID-Control.sln
PID-Control.vcxproj.filters
PID-Control.sln.DotSettings.user
pid-controller.py
Debug/
assets/demo-video2.mp4
assets/demo-video.mp4
